<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homework | Part 3</title>
</head>

<body>
    <div id="myDiv">
        <p>First Name: <input type="text" value="Enter first name" onfocus="this.value=''" /></p>
        <p>Last Name: <input type="text" value="Enter last name" onfocus="this.value=''" /></p>
        <p>Email: <input type="email" value="jsmith@example.com" onfocus="this.value=''" /></p>
        <p>Password: <input type="password" /></p>
    </div>
    <input type="button" value="Submit" />

    <script src="../scripts/thirdExercise.js"></script>
</body>

</html>