<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homework 8 | Part 4</title>
</head>
<body>
    <!-- <h3>Please enter number in the inputs:</h3>
    <div>
    <input type="text" id="first"> <br> <br>
    <input type="text" id="second"><br> <br>
    <input type="text" id="last"> 
</div>
    <br> <br>
    <input type="button" value="OK" id="button"> -->
    <h1 id="averageHeader"></h1>
    <script src="../lib/jquery-3.5.1.js"></script>
    <script src="../scripts/fourth.js"></script>
</body>
</html>