<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homework 8 | Part 3</title>
</head>

<body>
    <select id="myColor">
        <option value="Red">Red</option>
        <option value="Blue">Blue</option>
        <option value="Green">Green</option>
    </select>
    <input type="button" value="Click to Remove all Options">
    <h2 id="content"></h2>
    <script src="../lib/jquery-3.5.1.js"></script>
    <script src="../scripts/thirdPart.js"></script>
</body>

</html>