body {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
#secondDiv {
    margin-top: 50px;
    border: 1px solid black;
    height: 300px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    margin: auto;
    background-color: rgb(250, 250, 250);

}

#secondDiv > input {
    width: 200px;
}
form {
    margin-top: 100px;
}

button {
    margin-top: 30px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 14px;
}
button:hover {
    background-color: rgb(157, 188, 189);
}